<div class="create_your_own">
  
  <h2>Create your own.</h2>

</div>


<section class="layout">

  <div class="left_left">
    

  </div>

  <div class="left_half">
    <%= form_tag(quotes_url, method: 'post') do %>

    <h4 class="option_header one">Choose template</h4>

    <ul>
      <li class="template"><%= radio_button_tag("template", "America") %>
      <%= label_tag(:template, "America") %></li>
      <li class="template"><%= radio_button_tag("template", "Circle") %>
      <%= label_tag(:template, "Circle") %></li>
      <li class="template"><%= radio_button_tag("template", "rails") %>
      <%= label_tag(:template, "America") %></li>
      <li class="template"><%= radio_button_tag("template", "java") %>
      <%= label_tag(:template, "America") %></li>
      <li class="template"><%= radio_button_tag("template", "rails") %>
      <%= label_tag(:template, "America") %></li>
      <li class="template"><%= radio_button_tag("template", "java") %>
      <%= label_tag(:template, "America") %></li>
    </ul>
<!-- End radio buttons for templates -->

    <h4 class="option_header">Text:</h4>
    
    <div>
      <input type="text" ng-model="cardText" placeholder="Words go here..." name="content">

    </div>

    <h4 class="option_header">Font Size</h4>

      <fieldset>
         <input type="radio"  name ="size" value="teeny" ng-model='fontSize'> Teeny
         <input type="radio"  name ="size" value="small" ng-model='fontSize'> Small
         <input type="radio"  name ="size" value="normal" ng-model='fontSize'> Normal
         <input type="radio" value="big"  name ="size" ng-model='fontSize'> Big
         <input type="radio" value="bigger"  name ="size" ng-model='fontSize'> Bigger
         <input type="radio" value="gigantic"  name ="size" ng-model='fontSize'> Gigantic
      </fieldset>

    <h4 class="option_header color">Choose color</h4>


      <fieldset>
         <li class="color_black"><input type="Radio" name ="color"  value="black" ng-model='color'></li>
         <li class="color_white"><input type="Radio" name ="color"  value="white" ng-model='color'></li>
         <li class="color_red"><input type="radio" name ="color" value="red" ng-model='color'> </li>
         <li class="color_blue"><input type="radio" name ="color"  value="blue" ng-model='color'></li>
         <li class="color_yellow"><input type="radio" name ="color"  value="yellow" ng-model='color'></li>
         <li class="color_green"><input type="radio" name ="color"  value="green" ng-model='color'></li>
      </fieldset>

    <h4 class="option_header color">Choose Font</h4>
      <fieldset>

         <input type="radio" name ="font" value="sail" ng-model='fontFamily'>
         <span class="sail"> Sail </span>

         <input type="radio" name ="font" value="georgia" ng-model='fontFamily'>
         <span class="georgia"> Georgia </span>

         <input type="radio" name ="font" value="lato" ng-model='fontFamily'>
         <span class="lato"> Lato </span>

         <input type="radio" name ="font" value="lobster" ng-model='fontFamily'>
         <span class="lobster"> Lobster </span>

      </fieldset>

    <div>
      <%= submit_tag "Create card", class: "create_card_button" %>
    </div>
    <% end %>
  </div>

  <!-- Right Half of page -->

  <div class="right_half">
    <div class="card_box" ng-class="template">
        
        <div ng-class="[color, fontSize, fontFamily]">{{cardText}}</div> 
      
    </div>
  </div>

</section>

