<div class="create_your_own">
  
  <h2>Create your own.</h2>

</div>


<section class="layout">

  <div class="left_left">
    

  </div>

  <div class="left_half">
    <%= form_tag(quotes_url, method: 'post') do %>

    <h4 class="option_header one">Choose template</h4>
<!-- Radio buttons for templates -->
<!--       <input id="template_america" name="template" type="radio" value="america" />
      <label for="template_america"><img src="/assets/example.jpg" alt="" class="template_image"></label>
      <input id="template_circle" name="template" type="radio" value="circle" />
      <label for="template_circle"><img src="/assets/example.jpg" alt="" class="template_image"></label> -->

    <ul>
      <li class="template"><%= radio_button_tag("template", "america") %>
      <%= label_tag(:template, "America") %></li>
      <li class="template"><%= radio_button_tag("template", "circle") %>
      <%= label_tag(:template, "Circle") %></li>
      <li class="template"><%= radio_button_tag("template", "rails") %>
      <%= label_tag(:template, "America") %></li>
      <li class="template"><%= radio_button_tag("template", "java") %>
      <%= label_tag(:template, "America") %></li>
      <li class="template"><%= radio_button_tag("template", "rails") %>
      <%= label_tag(:template, "America") %></li>
      <li class="template"><%= radio_button_tag("template", "java") %>
      <%= label_tag(:template, "America") %></li>
    </ul>
<!-- End radio buttons for templates -->

    <h4 class="option_header color">Choose color</h4> 

    <ul>
      <li class="color_red"><%= radio_button_tag(:color, "red") %></li>
      <li class="color_yellow"><%= radio_button_tag(:color, "yellow") %></li>
      <li class="color_seafoam"><%= radio_button_tag(:color, "seafoam") %></li>
      <li class="color_aqua"><%= radio_button_tag(:color, "aqua") %></li>
    </ul>

    <h4 class="option_header">Text:</h4>
    
      <div>
        <%= text_area_tag :content, nil, placeholder: "Words of wisdom go here...", class: "input_quote" %>
      </div>

<!--       <div>
        <%= text_field_tag :author, nil, placeholder: "Author", class: "input" %>
      </div>

      <div>
        <%= number_field_tag :user_id, nil, class: "input" %>
      </div> -->

      <div>
        <%= submit_tag "Create card", class: "create_card_button" %>
      </div>
    <% end %>
  </div>

  <div class="right_half">
    <div class="card_box">
      <% if @quote.present? %>
           <h3 class="start_creating"> start creating your masterpiece</h3>

      <% else %>

      <h3 class="start_creating"> start creating your masterpiece</h3>

      <% end %>
    </div>
  </div>

</section>

