<div class="page_center">

	<div class="show_left">
		<div class="card_box_show">		
		
				<div class="<%= @quote.color %> <%= @quote.font_size %> <%= @quote.font %> <%= @quote.alignment %>" >
					<% current_quote = @quote.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
					<%= current_quote %>
			
			</div>	
		</div>



	<div class="bottom_links">
		<li><div class="export">
			<%= link_to "Export to PDF", download_quote_url(:quote => @quote, format: 'pdf', :class => "export_to_pdf") %>
		</div></li>

		<li><div class="export">
			<%= link_to "Export Card", download_quote_url(:quote => @quote, format: 'pdf', :class => "export_to_pdf") %>
		</div></li>	

		<li><div class="export">
			<%= link_to "Save Card", download_quote_url(:quote => @quote, format: 'pdf', :class => "export_to_pdf") %>
		</div></li>	

		<li><div class="export">
			<%= link_to "Make Another!", quotes_url, :class => "export_to_pdf" %>
		</div></li>					

	</div>

</div>