
<div class="card_box">
	
	<div class="<%= @quote.template %>">

		<div class="<%= @quote.color %> <%= @quote.font_size %> <%= @quote.font %> <%= @quote.alignment %>" >
			<% current_quote = @quote.content %>
			<%= current_quote %>

		</div>	

	</div>	

</div>


	





<%= link_to "Export to PDF", download_quote_url(:quote => @quote, format: 'pdf', :class => "export_to_pdf") %>


