<div class="page_center">

	<div class="show_left">
		<div class="card_box_show">		
		
				<div class="<%= @quote.color %> <%= @quote.font_size %> <%= @quote.font %> <%= @quote.alignment %>" >
					<% current_quote = @quote.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %>
					<%= current_quote %>
			
			</div>	
		</div>
	</div>

	<div class="show_right">
		<div class="bottom_links">

			
			<ul>
				<h4>Export Options</h4>
				<li><div class="export">
					<%= link_to "Export to PDF", download_quote_url(:quote => @quote, format: 'pdf', :class => "export_to_pdf") %>
				</div>

				<div class="export">
					<%= link_to "Export Card", download_quote_url(:quote => @quote, format: 'pdf', :class => "export_to_pdf") %>
				</div></li>	

				<h4>Save card to your profile</h4>
				<li><div class="export">
					<%= link_to "Save Card", download_quote_url(:quote => @quote, format: 'pdf', :class => "export_to_pdf") %>
				</div></li>	

				<h4>Just want to make another?</h4>
				<li><div class="export">
					<%= link_to "Make Another!", quotes_url, :class => "export_to_pdf" %>
				</div></li>					
			</ul>
		</div>
	
	</div>

</div>