<div class="wrap">
	<section class="profile_layout">
		<div class="welcome_text">
			<h2>hello <%= @user.first_name %>,</h2>
		</div>
	</section>

	<section class="profile_layout">
		<div class="gallery_text">
			<h2>welcome to your gallery</h2>
		</div>
	</section>

    <section class="profile_layout">


		<% @user.quotes.each do |quote| %>
		<div class="box_wrap">

	    <a href="<%= quote_url(quote.id) %>">
		    <div class="card_box_profile">
					<div ng-trim="false" class="<%= quote.color %> <%= quote.font_size %> <%= quote.font %> <%= quote.alignment %>">
						<% current_quote = simple_format(quote.content) %>
						<%= current_quote %>
					</div>
				</div>
			</a>
				<div class="delete">
					<%= link_to "<i class=\'fa fa-times\'> Delete Card</i>".html_safe, quote_url(quote), method: 'delete', class: "delete_card" %>
			 </div>
		 </div>

		 <% end %>
	</section>
</div>
