<!DOCTYPE html>
<html ng-app="card">
<head>
  <title>Four by Six</title>
  <%= stylesheet_link_tag 'application', :media => "all" %>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://unslider.com/unslider.min.js"></script>

  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Sail' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="CardCtrl">

	<div class="top_nav_color">
		 
		 <div class="wrap">
	    	<nav>
		        <a href="/" class="nav_logo">four<span class="logo_bold">by</span>six</a>

		        <%= link_to "Create Your Own", quotes_url, class: "nav_link nav_offset" %>
		        <%= link_to "Our Story", root_url, class: "nav_link" %>
		        
		        <% if user_signed_in? %>
					<%= link_to 'My profile', current_user, class: "nav_link" %> 
					<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav_link" %>
				<% else %>
					<%= link_to "Sign up", new_user_registration_path, class: "nav_link" %>
					<%= link_to "Login", new_user_session_path, class: "nav_link"%>
				<% end %>
	    	</nav>

			<%= yield %>
		
		</div>

	</div>

<!--     <footer>
    	<a href="#" class="nav_link">Terms of Use</a>
        <a href="#" class="nav_link">Privacy Notice</a>
        <a href="#" class="nav_link">Contact</a> 
        <a href="#" class="nav_logo nav_offset">Four by Six © 2014 </a>
    </footer> -->



</body>
</html>
